:root{
    --value:9.7%;
}

.wrapper{
    margin-top:25px;
    margin-bottom:25px;
    position:absolute;
    z-index:0;
}

body{
    position:relative;
    background:#000;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.capitalize{
    text-transform: capitalize;
}

.album img{
    width:100%;
    vertical-align: middle;
}

.album{
    width:calc(9.5% - 6px);
    padding:3px;
    display:inline-block;
    cursor:pointer;
}

.overlay{
    height:100vh;
    width:100%;
    background:rgba(0,0,0,0.75) fixed;
    position: fixed;
    display:none;
    top:0;
    z-index:1;
}

.album-window{
    width:auto;
    height:auto;
    min-width:761.75px;
    min-height:335px; /*mudar pra ficar auto*/
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.close{
    width:25px;
    height:25px;
    position:absolute;
    right:15px;
    top:15px;
    cursor:pointer;
}

.album-display{
    max-width: 225px;
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.info{
    float: left;
    margin-left: 25px;
    margin-top: 20px;
    text-align:left;
}

.info section{
    display:inline-block;
}

.info .title{
    font-weight:700;
    font-size: 18px;
}

.info .artist{
    font-size: 15px;
    margin-top: 3px;
}

.info .tracklist{
    margin-top: 15px;
    margin-left: 15px;
    font-size:14px;
    display:block;
    margin-right: 25px;
}

.tracklist span{
    display:block;
    float:left;
    padding:3px;
}

.song{
    display: inline-block;
}

.song:last-of-type{
    margin-bottom:15px;
}

.number{
    width:18px;
    margin-right:15px;
}

.length{
    float:right!important;
}

.name{
    width:375px;
}

.artist-data{
    display:none;
}

.artist a{
    cursor:pointer;
}

.artist a:hover{
    text-decoration: underline;
}

.artist-display{
    width: 300px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 25px;
}

.artist-name{
    padding-left: 25px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: -15px;
    text-align: left;
    margin-left:-1px;
}

.artist-country{
    font-size: 12px;
    float: left;
    padding-left: 25px;
}

.artist-stuff{
    float: left;
    margin-bottom: -10px;
}

.artist-flag{
    height:9px;
}

.artist-bio{
    text-align: justify;
    float: left;
    max-width: 401px;
    padding: 20px 25px;
    line-height: 1.35em;
    font-size: 15px;
    margin-bottom: 15px;
}

.back{
    font-size: 12px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    opacity: .5;
    cursor:pointer;
    display:none;
}

.back:hover{
    text-decoration:underline;
    opacity:1;
}

.extra{
    overflow-y:scroll!important;
    height:90vh!important;
    width:80vh!important;
}